<div id="main">

  <div class="header">
    <div class="container">
      <div class="row">
        <ul class="list-classes">
          <li *ngFor="let item of classes" [ngClass]="item.style">
            {{ item.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="lista">
    
    <ul>
      <li *ngFor="let item of ordered; index as i" class="col-xs-2">

        <h1>{{ setDate(item[0].date) }}</h1>

        <div class="card" *ngFor="let card of item" [ngClass]="card.style" >
          <div class="card-header">
            {{ card.name }}
          </div>
          <div class="card-body">
            <p> {{ card.info }}</p>
            <ol>
              <li *ngFor="let ppl of card.group">
                {{ ppl }}
              </li>
            </ol>
          </div>
          <div class="card-footer">
            {{ card.class }}
          </div>
        </div>

      </li>
    </ul>

  </div>

</div>

<form class="form add-form" #form>

  <legend>Adicionar Trabalho</legend>

  <div class="form-group">
    <select>
      <option value="">Selecione a Aula</option>
      <option *ngFor="let item of classes" value="{{ item.name }}/{{ item.style }}">{{ item.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <input class="form-control" type="text" placeholder="Titulo do card/Projeto/Trabalho" />
    <input class="form-control" type="text" maxlength="10" placeholder="xx/xx/xxxx" />
    <input class="form-control" type="text" placeholder="pessoas separados por,">
    <input class="form-control" type="text" placeholder="Info sobre o topico">
  </div>

  <a class="btn btn-primary" (click)="sendObjectToFirebase()"> adicionar </a>

</form>

<i class="add-form-show" (click)="showForm();">
  +
</i>